<div class="container">
<table class ="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Semester</th>
  </tr>
  </thead>

  <tbody>
  <% @details.each do|d| %>
      <tr>
        <td><%= get_course_name(d.course) %></br></td>
        <td><%= get_course_credit(d.course) %></br></td>
        <td><%= d.semester.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if @total_credit == 0 %>
  <h3> You are not a registered student</h3>
   please go to this link (<%= link_to "new Registration", new_regdetail_path %>) to get registered
<% else %>
    <h3> *Total Credits taken = <%= @total_credit %></h3>
<% end %>
</div>
