<% courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.code %></td>
      <td><%= course.semester.name %></td>
      <td><%= link_to 'Show', course %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>