<div class="container">
  <div class ="row">
    <div class ="col-sm-6">
      <h4>Current Semester</h4>
      <hr>
      <% if @current_semester.nil? %>
          you are not a registered student. please enroll in a semester
          <%= link_to "new registraiton", new_regdetail_path %>
      <% else %>
          Name: <%= @current_semester.name %></br></br>
          Subjects: <%= @current_subjects %></br></br>
          CGPA : <%= @current_cgpa %></br></br>
          Total credits : <%= @current_credit %></br>
      <% end %>
    </div>
    <div class ="col-sm-6">
      <h4>Previous Semester</h4>
      <hr>
      <% if @previous_semester.nil? or @current_semester == @previous_semester %>
        <p>you have no previuos record</p>
      <% else %>
          Name: <%= @previous_semester.name %></br></br>
          Subjects: <%= @previous_subjects %></br></br>
          CGPA : <%= @previous_cgpa %></br></br>
          Total credits : <%= @previous_credit %></br>
      <% end %>

    </div>
  </div>
</div>