<div class="container">
  <div class ="row">
    <div class ="col-sm-6" style="padding: 25px">
      <h4>Current Semester</h4>
      <hr style ="border-top: 2px solid #E0E0E0">
      <% if @current_semester.nil? %>
          <div class="alert alert-warning">
            you are not a registered student. please enroll in a semester
            <%= link_to "new registraiton", new_regdetail_path %>
          </div>
      <% else %>
          Name:  <strong><%= @current_semester.name %> </strong></br></br>
          Subjects:  <strong><%= @current_subjects %></strong></br></br>
          CGPA :  <strong><%= @current_cgpa.round(2) %></strong></br></br>
          Total credits :  <strong><%= @current_credit %></strong></br>
      <% end %>
    </div>
    <div class ="col-sm-6" style=" padding: 25px">
      <h4>Previous Semester</h4>
      <hr style ="border-top: 2px solid #E0E0E0">
      <% if @previous_semester.nil? or @current_semester == @previous_semester %>
          <div class="alert alert-info">
            <strong> you have no previous record. </strong>
          </div>
      <% else %>
          Name: <%= @previous_semester.name %></br></br>
          Subjects: <%= @previous_subjects %></br></br>
          CGPA : <%= @previous_cgpa.round(2) %></br></br>
          Total credits : <%= @previous_credit %></br>
      <% end %>

    </div>
  </div>
</div>