
<h2> Student email: <%= @user.email %></h2>
<table class="table">
  <thead>
  <tr>
    <th>Course name</th>
    <th>Course code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <% @user.regdetails.each do |r|  %>
      <tr>
        <td> <%= get_course_name r.course %></td>
        <td> <%= get_course_code r.course %></td>
        <td><%= text_field_tag "marks",r.cgpa, class: "cgpa" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</br>
<button onclick="get_results(<%= @user.id %>)">Submit </button></br></br>
<%= link_to "All Registrations", regdetails_path %>

