<div class="container" style ="background-color: #F5F5F5;padding: 25px">
  <h1> user: <%= current_user.email %></h1>
  <h3> Role: <%= get_user_type current_user %></h3>
  <% if current_user.admin %>
    <%= link_to "All Registration details", regdetails_path %><br><br>
    <%= link_to "All Courses", courses_path %><br><br>
    <%= link_to "Semesters", semesters_path %><br><br>
    <%= link_to "All users", appuser_allusers_path %> <br><br>


  <%else%>
      <% if @registered %>
          <h3> You are a registerd student </h3>
          <%= link_to "Edit your Registration", regdetails_edit_reg_path %><br><br>
      <%else%>
          <%= link_to "new registration", new_regdetail_path %><br><br>
      <% end %>
      <%= link_to "Your Registered subject", submission_details_path %><br><br>
      <%= link_to "Result", appuser_publish_result_path %>

  <% end %>
</div>
